{% extends "base.html" %}

{% block content %}
<!-- Custom CSS Styles -->
<style type="text/css">
    .table {
        border:none;
        border-collapse: collapse;
        table-layout: fixed;
    }

    .table tbody td {
        border-left: 1px solid #000;
        border-top: 1px solid #000;
    }

    .table tbody td:first-child {
        border-left: none;
    }
    .wide {
        width: 100%;
    }
</style>

<!-- Main page -->
<div class="row">
    <div class="col">
        <a href="/5065f9f1-fca3-4a6c-ba4c-e8cb13b0d95e/{{prev_month}}">
            <button class="btn btn-secondary">Previous Month</button>
        </a>
    </div>
    <div class="col">
        <h2>{{calendar_name}}</h2>
    </div>
    <div class="col">
        <a href="/5065f9f1-fca3-4a6c-ba4c-e8cb13b0d95e/{{next_month}}">
            <button class="btn btn-secondary">Next Month</button>
        </a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            {% for day_name in days_of_week_names %}
            <th scope="col">{{day_name}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for week_row in week_table_rows %}
        <tr>
        {% for week_day in week_row %}
            <td>
            {% if week_day %}
                <p class="day-number">{{week_day.number}}</p>
                {% for person_name in week_day.birthdays %}
                    <button class="btn btn-info wide">{{person_name}}'s Birthday</button>
                {% endfor %}
                {% for task in week_day.tasks %}
                    <a href="/0d27c6b9-a5d7-4782-9438-93b54b8f98f8/{{task.id}}">
                        <button class="btn btn-warning wide">{{task.message}}</button>
                    </a>
                {% endfor %}
            {% endif %}
            </td>
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_current_month %}
<!-- Change todays day to red text -->
<script>
var today = new Date();
var date_string = String(today.getDate());
var all_days = document.getElementsByClassName("day-number");
for (var i = 0; i < all_days.length; i++) {
    if (! date_string.localeCompare(all_days[i].textContent)) {
        all_days[i].style.color = "red";
    }
}
</script>
{% endif %}

{% endblock %}
