{% extends "base.html" %}

{% block content %}
<style type="text/css">
    .done-button {
        padding-top: 10px;
    }
    .errorlist{
        color: red
    }
</style>
<div align="center" class="row">
    <div class="col"></div>
    <div class="col">
        {% if operation == 'create' %}
        <h2>Event Create</h2>
        {% else %}
        <h2>Event Update</h2>
        {% endif %}
    </div>
    <div align="right" class="col">
        <form action="/6a8a3ce2-a91f-4605-8010-145c113d467f/{{event.id}}/delete" method="post">
            {% csrf_token %}
            <button name="delete" value="{{event.id}}" type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>


<p>{{errors}}</p>

{% if operation == 'create' %}
<form action="/6a8a3ce2-a91f-4605-8010-145c113d467f/create/" method="post">
{% else %}
<form action="/6a8a3ce2-a91f-4605-8010-145c113d467f/{{event.id}}/" method="post">
{% endif %}
{% csrf_token %}
    <div align="center">
        <div class="form-group">
            <label for="name">Title</label>
            {% if operation == 'create' %}
            <input id="title" type="text" maxlength="64" name="title" required>
            {% else %}
            <input id="title" type="text" maxlength="64" name="title" value="{{event.title}}" required>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="event_date">Date</label>
            {% if operation == 'create' %}
            <input type="date" id="event_date" name="event_date" value={{default_date}} required>
            {% else %}
            <input type="date" id="event_date" name="event_date" value={{event.date}} required>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="start_time">Start Time</label>
            {% if operation == 'create' %}
            <input id="start_time" type="time" name="start_time" value="13:30" required>
            {% else %}
            <input id="start_time" type="time" name="start_time" value="{{event.start_string}}" required>
            {% endif %}
            <label for="end_time">End Time</label>
            {% if operation == 'create' %}
            <input id="end_time" type="time" name="end_time" value="14:00" required>
            {% else %}
            <input id="end_time" type="time" name="end_time" value="{{event.end_string}}" required>
            {% endif %}
        </div>
    </div>
    <div align="center">
        {% if operation == 'create' %}
        <textarea id="description" name="description" rows="10" cols="80" placeholder="Event Description"></textarea>
        {% else %}
        <textarea id="description" name="description" rows="10" cols="80">{{event.description}}</textarea>
        {% endif %}
    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary">
            {% if operation == 'create' %}
            Create
            {% else %}
            Update
            {% endif %}
        </button>
    </div>
</form>
{% endblock %}
