{% extends "base.html" %}
{% block content %}
<!-- Custom CSS Styles -->
<style type="text/css">
    .errorlist {
        color: red
    }
</style>
<h2 align="center">Group Create</h2>

<p>{{errors}}</p>

<div align="center">
    {% if operation == 'create' %}
    <form action="/c7063309-ff0a-4e95-8157-2d07bf6d3ea3/create/" method="post">
    {% else %}
    <form action="/c7063309-ff0a-4e95-8157-2d07bf6d3ea3/{{group.id}}/" method="post">
    {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            {% if operation == 'create' %}
            <input id="name" type="text" maxlength="255" name="name">
            {% else %}
            <input id="name" type="text" maxlength="255" name="name" value="{{group.name}}">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="people">People</label>
            <select name="people" id="people" multiple>
                {% for person in possible_people %}
                {% if operation != 'create' and person.0 in group.person_ids %}
                <option value={{person.0}} selected>{{person.1}}</option>
                {% else %}
                <option value={{person.0}}>{{person.1}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            {% if operation == 'create' %}
            Create
            {% else %}
            Update
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}
