{% extends "base.html" %}

{% block content %}
<!-- Custom CSS Styles -->
<style type="text/css">
</style>

<!-- Main page -->
<h2>Persons</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Person</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Birthday</th>
            <th scope="col">Days Until Birthday</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{person.name}}</td>
            <td>
            {% if person.phone_number %}
                {{person.phone_number}}
            {% endif %}
            </td>
            <td>{{person.birthday_string}}</td>
            <td>{{person.delta.days}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
