{% extends "base.html" %}

{% block content %}
<h2 align="center">Import VCF File</h2>
{% if operation == 'upload' %}
<form action="/c57301de-fb29-4179-8b4f-cafaf5617322/import/" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div align="center">
    <div class="form-group">
        <label for="name">VCF File</label>
        <input type="file" id="file" name="file" accept="text/x-vcard" required>
    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</div>
</form>
{% endif %}

{% if operation == 'confirm' %}
{% if not update and not new %}
<div align="center">
    <h1>No updates or new persons</h1>
</div>
{% else %}
<div align="center">
    <form action="/e37047af-f536-423e-8a72-731cbced13ea/bulk_update" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for item in update %}
        <div class="form-group">
            <label for="update-{{ item.person_id }}">Updating Person Name, old name: {{ item.old_name }}. New Name: </label>
            <input type="text" id="update-{{ item.person_id }}" name="update-{{ item.person_id }}", value="{{ item.new_name}}">
        </div>
        {% endfor %}
        {% for item in new %}
        <div class="form-group">
            <label for="new{{ forloop.counter0 }}-name">New Person, name is:</label>
            <input type="text" id="new{{ forloop.counter0 }}-name" name="new{{ forloop.counter0 }}-name" value="{{ item.name }}">
            <label for="new{{ forloop.counter0 }}-number">Number is:</label>
            <input type="text" id="new{{ forloop.counter0 }}-number" name="new{{ forloop.counter0 }}-number" value="{{ item.number }}">
            <label for="new{{ forloop.counter0 }}-groups">Groups:</label>
            <select name="new{{ forloop.counter0 }}-groups" id="new{{ forloop.counter0 }}-groups" multiple required>
                {% for group in possible_groups %}
                <option value={{group.0}}>{{group.1}}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
        <div align="center">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
</div>
{% endif %}
{% endif %}
{% endblock %}
