{% extends "base.html" %}

{% block content %}
<style type="text/css">
    #today {
        border: 5px solid #04B486;
    }
    .table {
        border: none;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .table tbody tr {
        border-bottom: 2px solid #000;
    }
    .table tbody td {
        border-left: 1px solid #000;
    }
    .table tbody td:first-child {
        border-left: none;
    }
    .wide {
        width: 100%;
    }
    .header {
        padding-top: 5px;
    }
</style>

<div align="center"class="row header">
    <div class="col">
        <a href="/5065f9f1-fca3-4a6c-ba4c-e8cb13b0d95e/{{prev_month}}">
            <button class="btn btn-secondary">Previous Month</button>
        </a>
    </div>
    <div class="col">
        <h2>{{calendar_name}}</h2>
    </div>
    <div class="col">
        <a href="/5065f9f1-fca3-4a6c-ba4c-e8cb13b0d95e/{{next_month}}">
            <button class="btn btn-secondary">Next Month</button>
        </a>
    </div>
</div>

<!-- Table with date info -->
<table class="table">
    <!-- Thead with days of week -->
    <thead>
        <tr>
            {% for day_name in days_of_week_names %}
            <th scope="col">{{day_name}}</th>
            {% endfor %}
        </tr>
    </thead>

    <!-- Body with days of week -->
    <tbody>
        {# Every row matches up to a week #}
        {% for week_row in week_table_rows %}
        <tr>
            {# Every column matches to day #}
            {% for week_day in week_row %}
            {# If day is none, skip with empty column#}
            {# Set today metadata if it is today #}
            {% if not week_day or not week_day.is_today %}
            <td>
            {% else %}
            <td id="today">
            {% endif %}
                {# Show day number #}
                <p>{{week_day.datetime_date.day}}</p>
                {# Iterate through birthdays #}
                {% for person_name in week_day.birthdays %}
                    <button class="btn btn-info wide">{{person_name}}'s Birthday</button>
                {% endfor %}
                {# Iterate through tasks #}
                {% for task in week_day.tasks %}
                    <a href="/0d27c6b9-a5d7-4782-9438-93b54b8f98f8/{{task.id}}">
                        <button class="btn btn-warning wide">{{task.message}}</button>
                    </a>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
