{% extends "base.html" %}

{% block content %}
<h2 align="center">Persons</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Person</th>
            <th scope="col">Groups</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Birthday</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for person in people %}
        <tr>
            <td>{{person.name}}</td>
            <td>
                {% for group in person.group_names %}
                <a href="/e37047af-f536-423e-8a72-731cbced13ea/?groups={{group}}">{{group}}</p>
                {% endfor %}

            <td>{{person.phone_number}}</td>
            <td>{{person.birthday}}</td>
            <td>
                <div class="row">
                    <form action="/e37047af-f536-423e-8a72-731cbced13ea/{{person.id}}/" method="get">
                        {% csrf_token %}
                        <button name="delete" value="{{person.id}}" type="submit" class="btn btn-warning">Edit</button>
                    </form>
                    <form action="/e37047af-f536-423e-8a72-731cbced13ea/{{person.id}}/delete" method="get">
                        {% csrf_token %}
                        <button name="delete" value="{{person.id}}" type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div align="center">
	<span class="step-link">
		{% if people.has_previous %}
            <a href="?page={{ people.previous_page_number }}{{groups}}">Previous Page</a>
		{% endif %}
		<span class="current">
			Page {{ people.number }} of {{ people.paginator.num_pages }}
		</span>
		{% if people.has_next %}
        <a href="?page={{ people.next_page_number }}{{groups}}">Next Page</a>
		{% endif %}
	</span>
</div>
<div align="center">
    <a href="/e37047af-f536-423e-8a72-731cbced13ea/create/">
        <button class="btn btn-primary">Add Person</button>
    </a>
    <a href="/c7063309-ff0a-4e95-8157-2d07bf6d3ea3/create/">
        <button class="btn btn-primary">Add Group</button>
    </a>
</div>
{% endblock %}
