{% extends "base.html" %}

{% block content %}
<h2 align="center">Persons</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Person</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Birthday</th>
            <th scope="col">Days Until Birthday</th>
            <th scope="col">Groups</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{person.name}}</td>
            <td>
            {% if person.phone_number %}
                {{person.phone_number}}
            {% endif %}
            </td>
            <td>{{person.birthday_string}}</td>
            <td>{{person.birthday_delta}}</td>
            <td>
                {% for group in person.group_names %}
                <a href="/e37047af-f536-423e-8a72-731cbced13ea/?groups={{group}}">{{group}}</p>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
