{% extends "base.html" %}
{% block content %}
<!-- Custom CSS Styles -->
<style type="text/css">
    #error-list{
        color: red
    }
</style>
<h2 align="center">Person Create</h2>

<p>{{errors}}</p>

<div align="center">
    {% if operation == 'create' %}
    <form action="/e37047af-f536-423e-8a72-731cbced13ea/create/" method="post">
    {% else %}
    <form action="/e37047af-f536-423e-8a72-731cbced13ea/{{person.id}}/" method="post">
    {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            {% if operation == 'create' %}
            <input id="name" type="text" maxlength="255" name="name">
            {% else %}
            <input id="name" type="text" maxlength="255" name="name" value="{{person.name}}">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number</label>
            {% if operation == 'create' %}
            <input id="phone_number" type="text" maxlength="32" name="phone_number">
            {% else %}
            <input id="phone_number" type="text" maxlength="255" name="phone_number" value="{{person.phone_number}}">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="birthday">Birthday</label>
            {% if operation == 'create' %}
            <input type="date" id="birthday" name="birthday">
            {% else %}
            <input type="date" id="birthday" name="birthday" value="{{person.birthday}}">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="groups">Groups</label>
            <select name="groups" id="groups" multiple>
                {% for group in possible_groups %}
                {% if operation != 'create' and group.0 in person.group_ids %}
                <option value={{group.0}} selected>{{group.1}}</option>
                {% else %}
                <option value={{group.0}}>{{group.1}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            {% if operation == 'create' %}
            Create
            {% else %}
            Update
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}
