{% extends "base.html" %}

{% block content %}
<!-- Custom CSS Styles -->
<style type="text/css">
</style>

<!-- Main page -->
<h2>Persons</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Person</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Birthday</th>
            <th scope="col">Days Until Birthday</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{person.name}}</td>
            <td>
            {% if person.phone_number %}
                {{person.phone_number}}
            {% endif %}
            </td>
            <td>{{person.birthday_string}}</td>
            {% if person.birthday %}
            <td class="timeDelta" birthday-date="{{person.birthday}}"></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Get date delta for days left !-->
<script>
var one_day=1000*60*60*24;
var today = new Date().getTime();
var all_bday_deltas = document.getElementsByClassName("timeDelta");
for (var i = 0; i < all_bday_deltas.length; i++) {
    var bday_date = new Date(all_bday_deltas[i].getAttribute("birthday-date")).getTime();
    var difference_ms = bday_date - today;
    var diff_days = Math.round(difference_ms/one_day) + 1;
    all_bday_deltas[i].textContent = diff_days;
}
</script>
{% endblock %}
