{% extends "base.html" %}

{% block content %}
<h2 align="center">Tasks Due</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Next Due</th>
            <th scope="col">Days Until</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{task.message}}</td>
            <td>{{task.due_date_no_year}}</td>
            <td>{{task.time_delta.days}}</td>
            <td>
                <form action="/0d27c6b9-a5d7-4782-9438-93b54b8f98f8/{{task.id}}/done" method="post">
                    {% csrf_token %}
                    <button name="mark_done" value="{{task.id}}" type="submit" class="btn btn-success">Mark Done</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div align="center">
    <a href="/0d27c6b9-a5d7-4782-9438-93b54b8f98f8/create/">
        <button class="btn btn-primary">Create Task</button>
    </a>
</div>
{% endblock %}
