{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 align="center">{{task.message}}</h1>

    <h2 align="center">Due on {{task.due_date}}</h2>
    <h2 align="center">{{repeat_message}}</h2>
    <div class="row" align="center">
        <div class="col-4">
            <form action="/0d27c6b9-a5d7-4782-9438-93b54b8f98f8/{{task.id}}/done" method="post">
                {% csrf_token %}
                <button name="mark_done" value="{{task.id}}" type="submit" class="btn btn-success">Mark Done</button>
            </form>
        </div>
        <div class="col-4">
            <a href="/0d27c6b9-a5d7-4782-9438-93b54b8f98f8/{{task.id}}/edit" method="get">
                <button name="edit" value="{{task.id}}" type="submit" class="btn btn-warning">Edit</button>
            </a>
        </div>
        <div class="col-4">
            <form action="/0d27c6b9-a5d7-4782-9438-93b54b8f98f8/{{task.id}}/delete" method="get">
                {% csrf_token %}
                <button name="delete" value="{{task.id}}" type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
