{% extends "base.html" %}

{% block content %}
<!-- Custom CSS Styles -->
<style type="text/css">
</style>

<!-- Main page -->
<h2>Standings</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Standing</th>
            <th scope="col">Team</th>
            <th scope="col">Point Differential Per Game</th>
            <th scope="col">Record</th>
            <th scope="col">Point Differential in Last 8 Games</th>
            <th scope="col">Record in Last 8 Games</th>
        </tr>
    </thead>
    <tbody>
    {% for team_season in team_data %}
        <tr>
            <td>{{team_season.standing}}</td>
            <td><a href="/294be434-0c6c-4118-a286-d4a3dfd3032e/{{team_season.team.year}}/{{team_season.team.short_name}}">{{team_season.team.name}}</td>
            <td>{{team_season.point_differential_per_game}}</td>
            <td>{{team_season.wins}}-{{team_season.losses}}</td>
            <td>{{team_season.point_differential_last_eight}}</td>
            <td>{{team_season.wins_last_eight}}-{{team_season.losses_last_eight}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
