{% extends "base.html" %}

{% block content %}
<!-- Custom CSS Styles -->
<style type="text/css">
</style>

<!-- Main page -->
<h2>Standings</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Standing</th>
            <th scope="col">Team</th>
            <th scope="col">Record</th>
            <th scope="col">Point Differential Per Game</th>
            <th scope="col">Record in Last 8 Games</th>
            <th scope="col">Point Differential in Last 8 Games</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for team in team_data %}
        <tr>
            <td>{{team.standing}}</td>
            <td>{{team.name}}</td>
            <td>{{team.wins}}-{{team.losses}}</td>
            <td>{{team.point_differential_per_game}}</td>
            <td>{{team.wins_last_eight}}-{{team.losses_last_eight}}</td>
            <td>{{team.point_differential_last_eight}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
