{% extends "base.html" %}

{% block content %}
<!-- Custom CSS Styles -->
<style type="text/css">
</style>

<!-- Main page -->
<h2>{{team_data.team.year}} {{team_data.team.name}}</h3>

<p>Record: {{team_data.wins}}-{{team_data.losses}}</p>
<p>Point Differential Per Game: {{team_data.point_differential_per_game}}</p>
<p>Record Last 8 Games: {{team_data.wins_last_eight}}-{{team_data.losses_last_eight}}</p>
<p>Point DIfferential Last 8 Games: {{team_data.point_differential_last_eight}}</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Game</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td>{{game.date}}</td>
            <td>{{game.away_team.short_name}}-{{game.away_score}} vs {{game.home_team.short_name}}-{{game.home_score}}</td>
            <td>{{game.result}} - {{game.diff}}</td>
        </tr>
    {% endfor %}

{% endblock %}
