{% extends "base.html" %}

{% block content %}

<div align="center">
    <h2>{{team_data.team.year}} {{team_data.team.name}}</h3>
    <p>Record: {{team_data.wins}}-{{team_data.losses}}</p>
    <p>Point Differential Per Game: {{team_data.point_differential_per_game}}</p>
    <p>Record Last 8 Games: {{team_data.wins_last_eight}}-{{team_data.losses_last_eight}}</p>
    <p>Point DIfferential Last 8 Games: {{team_data.point_differential_last_eight}}</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Game</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td><a href="/294be434-0c6c-4118-a286-d4a3dfd3032e/game/{{game.id}}">{{game.date}}</a></td>
            <td>{{game.away_team.short_name}}-{{game.away_score}} vs {{game.home_team.short_name}}-{{game.home_score}}</td>
            <td>{{game.result}} - {{game.diff}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
