{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
<style type="text/css">
    #sub-pages{
        padding-top: 15px;
    }
</style>
<h1 id="header" align="center">Webpage for Tyler North</h1>
<hr>
<div align="center">
    <p>Software Engineer in the San Francisco Bay Area, currently working at <a href="https://www.clari.com/">Clari</a>.</p>
    <p>Currently working as a Staff Level Site Reliability engineer, past experience as Software Engineer and Customer Support Engineer.</p>

    <h3><a href="/resume">Resume</a></h3>
    <p>Summary of past work experience</p>
    <h3><a href="/projects">Side Projects</a></h3>
    <p>Short Collection of side projects I've published</p>
</div>
{% endblock %}
