{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
<div>
    <h1 class="header" align="center">Welcome!</h1>
    <hr>
    <div align="center">
        <p>My name is Tyler North, I'm a software engineer living in the Bay Area, California.</p>
        <p>I'm currently working as a Staff Software Engineer at <a href="https://www.clari.com/">Clari</a>.</p>
    </div>
    <h2 class="header" align="center">Additional Links</h2>
    <hr>
    <div class="container">
        <div class="row">
            <div align="center" class="col">
                <p>{% bs_icon 'mailbox' size='2.5em' %}<a href="mailto: me@tyler-north.com">Email</a></p>
            </div>
            <div align="center" class="col">
                <p>{% bs_icon 'linkedin' size='2.5em' %}<a href="https://linkedin.com/in/tyler-n-89634344">Linkedin</a></p>
            </div>
            <div align="center" class="col">
                <p>{% bs_icon 'github'  size='2.5em' %}<a href="https://github.com/tnoff">Github</a></p>
            </div>
            <div align="center" class="col">
                <p>{% bs_icon 'person-square'  size='2.5em' %}<a href="https://bsky.app/profile/tnoff.bsky.social">Bluesky</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
