{% extends "base.html" %}

{% block content %}
<!-- Main page -->
<h1>Resume</h1>
<div align="left">
    <h2>Work Experience</h2>
    <hr>
    <h3>Oracle Corporation</h3>
        <h5>Senior Software Engineer - June 2019 to present</h5>
            <ul>
                <li>Senior member of the Technical Content team</li>
                <li>Experience with MadCap Flare and OASIS DITA</li>
                <li>Migrated several services to cloud based infrastructure</li>
                <li>Helped add support for multiple languages on Oracle Cloud documentation site</li>
            </ul>
        <h5>Software Engineer - November 2018 to June 2019</h5>
            <ul>
                <li>Part of Technical Content team</li>
                <li>Maintained infrastructure for technical writers to publish changes to Oracle Cloud documentation site</li>
                <li>Wrote and maintained several internal tools for Oracle writers and Oracle Sales use</li>
                <li>Setup numerous alarms and runbooks for on-call use</li>
                <li>Wrote internal tooling for security updates</li>
            </ul>
        <h5>Site Reliability Engineer - July 2017 to November 2018</h5>
            <ul>
                <li>Part of small team that was responsible for operations of Oracle Object Storage</li>
                <li>Built, maintained, and supported several clusters with hundreds of nodes</li>
                <li>Wrote and maintained ops tooling for all on-call engineers</li>
                <li>Designed on-call practices and standards for all engineers</li>
                <li>Maintained internal tooling for alarming, DNS, node provisioning, and code deployment</li>
                <li>Experience with Layer 4 and Layer 7 load balancing solutions</li>
            </ul>
    <h3>Cisco Systems</h3>
        <h5>Software Engineer - June 2015 to March 2017</h5>
            <ul>
                <li>After Cisco acquisition of Piston Cloud Computing</li>
                <li>Designed &amp; Deployed both Object and Block Storage solutions for Cisco Cloud</li>
                <li>Experience with Ceph, Solidfire, Pure, and NFS storage</li>
                <li>Supported legacy cloud clusters for multiple customers</li>
                <li>Contributed to upstream open source Ceph ansible distributions</li>
            </ul>
    <h3>Piston Cloud Computing</h3>
        <h5>Customer Support Engineer - December 2013 to June 2015</h5>
            <ul>
                <li>Senior member of support staff, responsible for customers maintaining large scale OpenStack clusters</li>
                <li>Designed, developed, and maintained application to handle customer emergency calls and requests over the course of about 2 years</li>
                <li>Helped develop on-call best practices and standards for group</li>
                <li>Contributed to upstream OpenStack</li>
                <li>Supported large scale Ceph clusters, experience troubleshooting Ceph issues as well as installing clusters</li>
                <li>Wrote scripts and larger software for importing/exporting data from OpenStack clusters</li>
            </ul>
        <h5>Customer Support Intern - December 2010 to December 2013</h5>
            <ul>
                <li>Intern while in at university, member on the customer support team</li>
                <li>Time included customer service responsibilities, troubleshooting bugs, responding to sales requests, and being on call for emergency issues</li>
            </ul>
    <h2>Education</h2>
    <hr>
        <p>Bachelor of Science degree from San Francisco State University, with a minor in Mathematics.</p>
        <p>Enrolled from Fall 2009 to Fall 2014.</p>
</div>
{% endblock %}
