{% extends "base.html" %}

{% block content %}
    <h1 align="center">Work Experience</h1>
    <hr>
    <h2>Groove.co</h2>
    <h5>Senior Site Reliability Engineer - April 2022 to present</h5>
    <ul>
        <li>Integrating multiple apps into company SSO</li>
        <li>Migrated existing search endpoints to using OpenSearch service</li>
        <li>Importing existing company resources into terraform, creating common modules for those resources</li>
        <li>Identifying, monitoring, and improving database latency performance for multiple transactions in Ruby on Rails</li>
    </ul>
    <h2>Oracle Corporation</h2>
    <h5>Senior Software Engineer - June 2019 to April 2022</h5>
    <ul>
        <li>Led Operational Incidents Review board to improve overall operations posture</li>
        <li>Migrated multiple service environments to use Terraform configuration buildout on Cloud Environments</li>
        <li>Added support for non-English languages on Oracle Cloud documentation site</li>
        <li>Migrated majority of Oracle Cloud documentation from MadCap Flare to Oasis DITA formats</li>
    </ul>
    <h5>Software Engineer - November 2018 to June 2019</h5>
    <ul>
        <li>Designed, scaled, and operate a Content Deployment Pipeline for multiple different orgs and documentation structures</li>
        <li>Integrated multiple tools with Oracle&#39;s Oauth Implementation</li>
        <li>Wrote tooling to keep multiple environments up to date with FedRamp patching requirements</li>
        <li>Maintained a high number of runbooks for a variety of internal tooling</li>
    </ul>
    <h5>Site Reliability Engineer - July 2017 to November 2018</h5>
    <ul>
        <li>Built, maintained, and supported several different Object Storage clusters with hundreds of nodes</li>
        <li>Developed and maintained best on-call practices/standards for all engineers</li>
        <li>Migrated multiple clusters from Layer 7 to Layer 4 Load Balancing solution</li>
        <li>Maintained internal configuration and scripting for alarming, DNS, node provisioning, and code deployment</li>
    </ul>
    <h2>Cisco Systems</h2>
    <h5>Software Engineer - June 2015 to March 2017</h5>
    <ul>
        <li>Designed & Deployed both Object and Block Storage solutions for Cisco Cloud</li>
        <li>Maintained, built, and scaled Ceph storage clusters</li>
        <li>Designed and built Solidfire, NFS, and Pure Storage clusters</li>
    </ul>
    <h3>Piston Cloud Computing</h3>
    <h5>Customer Support Engineer - December 2010 to June 2015</h5>
    <ul>
        <li>As a senior member of the customer success team, I was responsible for large scale customer OpenStack clusters, which provided Compute Instances, Authentication, Object Storage, and  Block Storage</li> 
        <li>Designed, developed, and maintained in house On-Call paging application to improve incident response time and Engineer on-call experience</li>
        <li>Troubleshooting bugs with company software and upstream OpenStack software</li>
    </ul>

    <h1 align="center">Education</h1>
    <hr>
    <p>BS in Computer Science from San Francisco State University, with a minor in Mathematics.</p>
    <p>Enrolled from Fall 2009 to Fall 2014.</p>
{% endblock %}
