{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Contact Information</h1>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Linkedin</th>
                <td>
                    <a href="https://linkedin.com/in/tyler-n-89634344">
                        https://linkedin.com/in/tyler-n-89634344
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">Github</th>
                <td>
                    <a href="https://github.com/tnoff">
                        https://github.com/tnoff
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>ty_north@yahoo.com</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
