{% extends "base.html" %}

{% block content %}
<style type="text/css">
    #header{
        padding-bottom: 15px;
    }
    .links {
        padding-bottom: 5px;
    }
</style>

<h1 id="header" align="center">Contact Information</h1>

<div align="center">
    <h4 class="links">Linkedin <a href="https://linkedin.com/in/tyler-n-89634344">https://linkedin.com/in/tyler-n-89634344</a></h4>
    <h4 class="links">Github <a href="https://github.com/tnoff">https://github.com/tnoff</a></h4>
    <h4 class="links">Email <a href = "mailto: ty_north@yahoo.com">ty_north@yahoo.com</a></h4>
</div>
{% endblock %}
