<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>tyler-north.com</title>
    </head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Custom CSS Styles -->
    <style type="text/css">
        body {
            background-color: #F5FAFA;
        }

        nav {
            background-color: #ACD1E9;
        }

        #main-page {
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>

    <body>
        <!-- Top Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">tyler-north.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/e37047af-f536-423e-8a72-731cbced13ea/">Birthdays</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/0d27c6b9-a5d7-4782-9438-93b54b8f98f8/">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/5065f9f1-fca3-4a6c-ba4c-e8cb13b0d95e/">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/9af57e02-325f-4e49-af70-9e83518a8539/">Admin Page</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/resume/">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Main content block -->
        <div id="main-page" align="center">
        {% block content %}
        {% endblock %}
        </div>
    </body>


    <!-- Javascript includes -->
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</html>
