<!doctype html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>tyler-north.com</title>
    </head>

    <!-- Custom CSS Styles -->
    <style type="text/css">
        body {
            background-color: #F5FAFA;
        }

        nav {
            background-color: #ACD1E9;
            padding-left: 15px;
            padding-right: 15px;
        }

        #main-page {
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>

    <body>
        <!-- Top Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">tyler-north.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/resume/">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects/">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main content block -->
        <div id="main-page">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
